@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,500;0,9..144,700;1,9..144,400;1,9..144,500;1,9..144,700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

/* Import title font and default test font */
header {
  width: 100%;
  height: 800px;
  background-image: url(../../images/photos/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
header .container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
header .container_arrow {
  padding-top: 180px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
  height: 50px;
  padding: 1em;
  padding-top: 34PX;
}

.menu-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-items > li {
  margin: 0 1rem;
}
.menu-items > li a {
  padding: 14px 31px;
  border-radius: 50px;
}
.menu-items > li a:hover {
  background-color: hsl(198, 62%, 26%);
}

.menu-items li:last-child a {
  background-color: #FFF;
  color: black;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 768px) {
  header {
    height: 538px;
  }
  header .container {
    padding-top: 50px;
  }
  header .container_arrow {
    padding-top: 45px;
  }
  .menu-button-container {
    display: flex;
  }
  .menu-items {
    position: absolute;
    top: 0;
    margin-top: 50px;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu-items li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle ~ .menu-items a {
    display: none;
  }
  #menu-toggle:checked ~ .menu-items li {
    height: 3.2em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu-items {
    background-color: #FFF;
    border-top: 10px solid hsl(0, 0%, 100%);
  }
  #menu-toggle:checked ~ .menu-items a {
    display: block;
    background-color: none;
    color: black;
  }
  #menu-toggle:checked ~ .menu-items a:hover {
    background-color: hsl(51, 100%, 49%);
  }
  #menu-toggle:checked ~ .menu-items li:last-child a {
    background-color: hsl(51, 100%, 49%);
  }
  #menu-toggle:checked ~ .menu-items li:last-child a:hover {
    background-color: hsl(0, 0%, 100%);
  }
}
/*
font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
*/
body {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

h1 {
  color: white;
  font-size: 56px;
  text-transform: uppercase;
  text-align: center;
}/*# sourceMappingURL=style.css.map */